* {
    box-sizing: border-box;
}
.body {
    overflow: auto;
}

.page-control {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
    top: 50%;
    margin-top: -40px;
    z-index: 1;
    /*border: red dotted 0.5px;*/
}

.header {
    margin: 0 auto;
    color: #ffffff;
    /*text-align: center;*/
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    /*border: 2px dotted red;*/
    width: 750px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

}

svg {
    margin-left: -10px;
}

.preview {
   /*overflow: auto;*/
    margin-left: 10px;
    float: left;
    width: 350px;
    height: 250px;
    z-index: 9;
}

.box {
    /*border: 2px dotted white;*/
    width: 350px;
    height: 200px;
    float: left;
    /*margin-left: 20px;*/
    /*margin-top: 50px;*/
    box-shadow: 0 0 50px rgba(0,0,0,.75) inset;
}

.bar1 {
    position: relative;
    top: 0;
    left: 0;
    background-color: #a4a29e;
    float: left;
    width: 350px;
    height: 20px;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #464E51;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

#box1 {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(pairsGame.png);
    background-size: cover;
}

#box2 {
    background-image: url(appTest.png);
    background-size: cover;
}

#box3 {
    background-image: url(meal.png);
    background-size: cover;
}

#box4 {
    background-image: url(receipts.png);
    background-size: cover;
}

#box5 {
    background-image: url(cygnetFinance.png);
    background-size: cover;
}

#box6 {
    background-image: url(portfolio.png);
    background-size: cover;
}




.tagContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    margin: 0 auto;
    opacity: 0;
    z-index: 3;
}

.tagContainer:hover {
    opacity: 1;
    cursor: pointer;
}

.tags {
    position: relative;
    top: 50px;
    font-size: 1.3rem;
    color: #63AB62;
    margin: 0 20px auto;
}

.tagItem {
    float: left;
    background-color: #464E51;
    margin: 10px 0 0 10px;
    /*text-align: center;*/
    padding: 5px;
}

.dots {
    float:left;
    width: 60px;
    left: 0;
    margin-left: 7px;
}

.pairsGame {
    position: relative;
    left: 78px;
}

.aptitudeTest {
    position: relative;
    left: 70px;
}

.recipeApi {
    position: relative;
    left: 70px;
}

.receiptCol {
    position: relative;
    left: 40px;
}
 
.login {
    position: relative;
    left: 50px;
}

.portfolio {
    position: relative;
    left: 80px;
}