body {
    /*font-family: 'Carter One', cursive;*/
    /*font-family: 'Bowlby One', cursive;*/
    /*font-family: 'Libre Barcode 39 Extended Text', cursive;*/
    /*font-family: 'Titan One', cursive, sans-serif;*/
    /*background-color: #19608d ;*/
    font-family: 'Lato', sans-serif;
   background-color: #152238;
    height: 100vh;
}


.menuContainer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #152238;
    opacity: 1;
}

button {
    font-size: 5rem;
    background-color: #152238;
    border: none;
    color: #a4a29e;
}


ul, ul:visited, a {
    list-style: none;
    text-decoration: none;
}

/*ul {*/
/*    width:70px;*/
/*    height:50px;*/
/*    margin:0 auto;*/
/*    !*background:#f7f7f7;*!*/
/*    position:absolute;*/
/*    left:50%;*/
/*    top:50%;*/
/*    margin-left:-150px;*/
/*    margin-top:-170px;*/
/*}*/

/*a {*/
/*    color: gray;*/
/*    font-size: 5rem*/
/*}*/

/*li {*/
/*    margin-bottom: 20px;*/
/*    text-align: center;*/
/*}*/

/*a:hover {*/
/*    background-color: black;*/
/*}*/

a:active {
    color: white;
}


.page-control {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: transparent;
    top: 50%;
    margin-top: -40px;
    z-index: 1;
    /*border: red dotted 0.5px;*/
}
.page-control button {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline:0;
}

svg {
    padding: 2px;
}
.arrow-right {
    float: right;
    margin-right: 20px;
}

.arrow-left {
    float: left;
    margin-left: 20px;
}

.arrow-left:hover polyline {
     stroke-width: 3;
    stroke: #ffffff;
}

.arrow-right:hover polyline {
    stroke-width: 3;
    stroke: #ffffff;
}

.arrow-left:active polyline {
    stroke-width: 6;
    transition: all 50ms ease-in-out;
}
.arrow-right:active polyline {
    stroke-width: 6;
    transition: all 50ms ease-in-out;
}

#typewritter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36em;
    /*margin: 0 auto;*/
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.burger-menu {
    position: absolute;
    top: 7%;
    right: 5%;
    transform: translate(-50%,-50%);
}

.burger-menu div {
    position: relative;
    width: 42px;
    height: 4px;
    background: #a4a29e;
    display: block;
    margin-bottom: 8px;
}

.burger-menu:hover .menu-top {
    margin-bottom: 12px;
}

.burger-menu:hover .menu-bottom {
    margin-top: 12px;
}

.burger-menu:hover {
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(129, 129, 129, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 12px;
    text-decoration: none;
    font-size: 48px;
    color: #152238;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.css-typing span {
    color: #63AB62;
    font-weight: bold;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.wrapper ul li {
    width: 50px;
    height: 50px;
    position: relative;
    background: #e59500;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
}

ul li.linkedin{
    background: #00aced;
}

ul li.instagram{
    background: #C13584;
    cursor: pointer;
}

ul li.github{
    background: #211F1F;
}





