* {
	box-sizing: border-box;
}

h1, body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	color: rgb(0,153,255);
	font-size: 4rem;
}
.logoMobile {
	display: none;
	background: black;
	color: white;
}

header {
	background: gray;
	height: 1000px;
	/*width: 65%;*/
	background-color: #0F4C75;
	margin-right: 0;
	margin-left: 0;
	background-image: url('get-it-done.jpg');
	background-size: cover;
}

nav {
	background-color: rgb(255,255,255);
	width: 80%;
	height: 68px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 10%;
	
}

.logo {
	width: 30px;
	height: 100%;
	float: left;
}

.logo h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 60px;
	float: left;
	background-color: white;
	margin-left: 5px;
	color: rgb(50,79,133);
}

nav ul {
	float: right;
	list-style: none;
	font-size: 30px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

nav li {
	float: left;
	margin-right: 40px;

}

nav img {
	display: none;
	float: right;
}

li:hover {
	border-top: 3px solid rgb(70,130,180);
}

.content {
	margin-right: 10%;
	margin-left: 10%;
	padding-top: 10%;
	color: rgb(0,153,255);
}

.content h1 {
	font-size: 5rem;
	color: rgb(70,130,180);
}

.content h2 {
	font-size: 4rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content h3 {
	font-size: 2rem;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
}

section {
	margin-right: 10%;
	margin-left: 10%;
	height: 600px;
	background-color: rgb(255,255,255);
}

.projects {
	float: left;
	height: 350px;
	width: 20%;
	margin-right: 8%;
}

#box3 {
	margin-right: 0;
}

.projects p {
	width: 120%;
	margin-left: 5%;
}

article {
	margin-top: 20px;
	width: 100%;
	height: 800px;
}

article div {
	width: 50%;
	height: 50%;
	float: left;
}

article div h2 {
	margin-left: 10px;
	margin-top: 10px ;
	margin-bottom: 10px;
}

article p {
	margin-left: 30px;
	margin-right: 10px;
	font-size: 1.4rem;
	text-align: justify;
}

.contact p {
	font-weight: bold;
	font-size: 2rem;
}

.scrumImage img {
	float: right;
}

@media screen and (max-width: 1490px) {

	
	.logoText1,.logoText2 {
		font-size: 1.25rem;
		padding-left: 5px;
	}
	.projects {
		width: 30%;
		margin-right: 1%;
		margin-bottom: 10%;
	}
	
	#box1 {
		margin-left: 5%;
	}
	.projects p {
		width: 80%;
		margin-left: 1%;
	}
} 

@media screen and (max-width: 1200px) {
	header {
		height: 500px;
	}		
	ul li {
		display: none;
	}
	nav img {
		display: block;
	}
	.projects p {
		display: none;
	}
}   

@media screen and (max-width: 1040px ) {
	.projects {
		float: none;
	}
}
